body{
    margin: 0px;
    padding: 0px;
}
.headblock {
 background-image: url(../top.jpg);
 height: 600px;
 width: 100%;
 padding: 15px;
}
.top {
color: #ffffff;
font-size: 48px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: left;
}
.backtext{
font-family: Lato;
color:  #ffffff;
font-size: 18px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
text-align: left;
}
.manetext{
    border: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 88px;
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 54px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
}
span {
    font-family: Montserrat;
color:  #f1ad1d;
font-size: 54px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: left;
}
.general {
    padding: 300px 0px 0px 150px;
}
.lol{
font-family: Montserrat;
color:  #333333;
font-size: 22px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
line-height: 18px;/* Приближение из-за подстановки шрифтов */
text-align: center;
padding: 30px;
text-transform: uppercase;
}
.kol{
    font-family: Lato;
    color:  #4d4943;
    font-size: 17px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: center;   
}
.line1{
    align: center;
    background-color:  #f1ad1d;
    width: 60px;
    height: 3px;
    border: 0px;
}
.img{
    text-align: center;
    padding: 30px;
}
.menu{
width: 1169px;   
}
